{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="contenedor-principal">


    <div class="caja-login">
    <form method="post">
        
        {# 1. CONTROL DE ERRORES #}
        {# Si Symfony detecta que la contraseña está mal, activa esto automáticamente #}
        {% if error %}
            <div class="mensaje-error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <h1>Iniciar Sesión</h1>

        {# 2. CAMPO USUARIO #}
        <div class="campo">
            <label for="username">Usuario</label>
            <input type="text" 
                   value="{{ last_username }}" 
                   name="_username" 
                   id="username" 
                   class="input-login" 
                   required autofocus>
        </div>

        {# 3. CAMPO CONTRASEÑA #}
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" 
                   name="_password" 
                   id="password" 
                   class="input-login" 
                   required>
        </div>

        {# 4. TOKEN DE SEGURIDAD (Invisible pero obligatorio) #}
        {# Esto evita que hackers manden formularios desde otras webs #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# 5. BOTÓN #}
        <button type="submit" class="boton-entrar">
            Entrar
        </button>

        <div class="enlaces">
    <a href="{{ path('app_register') }}">Regístrate</a>
</div>
    </form>
</div>
        </div>
{% endblock %}